<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/public/assets/css/styles_list.css" rel="stylesheet" />
        <link rel="stylesheet" href="/public/assets/css/style_navbar.css">
        <link rel="stylesheet" href="/public/assets/css/custom_style.css">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5 mb-3 mt-3">
                <img class="Logo" src="/public/assets/img/NgekostAja_Logo2.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="input-group">
                        <input style="width: 100%;" type="text" class="form-control" placeholder="Masukkan nama/ area/ alamat indekos" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <a class="dropdown-item2" href="#!">Pusat Bantuan</a>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <!-- <i class="bi-cart-fill me-1"></i> -->
                            Login
                            <!-- <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> -->
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <section>
            
            <form class="needs-validation" novalidate>
                <div class="filter container px-4 px-lg-5 mt-5">
                    <div class="inline col-md-4 mb-3">
                        <label for="validationCustom02">Pilih Lokasi</label>
                        <select class="optional form-select" id="inputGroupSelect01">
                            <option selected value="1">Gowa</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="inline col-md-4 mb-3">
                        <label for="validationCustom02">Tipe Kos</label>
                        <select class="optional form-select" id="inputGroupSelect01">
                            <option selected value="1">Khusus Pria</option>
                            <option value="2">Khusus Wanita</option>
                            <option value="3">Campuran</option>
                        </select>
                    </div>
                    <div class="inline col-md-4 mb-3">
                        <label for="validationCustom02">Rentang Harga (minimal)</label>
                        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" >

                    </div>
                    <div class="inline col-md-4 mb-3">
                        <label for="validationCustom02">Rentang Harga (maximal)</label>
                        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name">

                    </div>
                    <button class="inline btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- Kos Putra -->
                    <div class="col mb-5">
                        <div class="card">
                            <button>

                            </button>
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                <div class="rating">
                                    <div class="d-flex justify-content-center small text-warning">
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <span class="num-rate">5.0</span>
                                </div>
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/public/assets/img/Indekos.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Sale badge-->
                                    <div style="background-color: #2d2ade;" class="badge text-white position-absolute rating">
                                        <span>Putra</span>
                                    </div>
                                    <br>
                                    <div class="desc-part-card">
                                        <!-- Product name-->
                                        <span class="">Kos di langit</span>
                                        
                                        <!-- Product price-->
                                        <div>
                                            <span class="text-muted text-decoration-line-through real-price">$20.00</span>
                                        </div>
                                    </div>
                                    <div class="desc-part-card">
                                         <!-- Product name-->
                                         <span class="fw-bolder">Makassar</span>
                                        
                                         <!-- Product price-->
                                         <div>
                                             <span class="cut-price">$18.00</span>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Kos Putri -->
                    <div class="col mb-5">
                        <div class="card">
                            <button>

                            </button>
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                <div class="rating">
                                    <div class="d-flex justify-content-center small text-warning">
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <span class="num-rate">5.0</span>
                                </div>
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/public/assets/img/Indekos.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Sale badge-->
                                    <div style="background-color: #de2a90" class="badge text-white position-absolute rating">
                                        <span>Putri</span>
                                    </div>
                                    <br>
                                    <div class="desc-part-card">
                                        <!-- Product name-->
                                        <span class="">Kos di langit</span>
                                        
                                        <!-- Product price-->
                                        <div>
                                            <span class="text-muted text-decoration-line-through real-price">$20.00</span>
                                        </div>
                                    </div>
                                    <div class="desc-part-card">
                                         <!-- Product name-->
                                         <span class="fw-bolder">Makassar</span>
                                        
                                         <!-- Product price-->
                                         <div>
                                             <span class="cut-price">$18.00</span>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Kos Campuran -->
                    <div class="col mb-5">
                        <div class="card">
                            <button>

                            </button>
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                <div class="rating">
                                    <div class="d-flex justify-content-center small text-warning">
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <span class="num-rate">5.0</span>
                                </div>
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/public/assets/img/Indekos.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Sale badge-->
                                    <div style="background-color: #de602a" class="badge text-white position-absolute rating">
                                        <span>Campuran</span>
                                    </div>
                                    <br>
                                    <div class="desc-part-card">
                                        <!-- Product name-->
                                        <span class="">Kos di langit</span>
                                        
                                        <!-- Product price-->
                                        <div>
                                            <span class="text-muted text-decoration-line-through real-price">$20.00</span>
                                        </div>
                                    </div>
                                    <div class="desc-part-card">
                                         <!-- Product name-->
                                         <span class="fw-bolder">Makassar</span>
                                        
                                         <!-- Product price-->
                                         <div>
                                             <span class="cut-price">$18.00</span>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="py-5">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center"">
                      <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active">
                        <span class="page-link">
                          2
                          <span class="sr-only"></span>
                        </span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
